CONFIG_PACKAGE_3proxy-0.9.5-r5=y
CONFIG_PACKAGE_adguardhome-0.107.77-r1=y
CONFIG_PACKAGE_airoha-en7581-mt7996-npu-firmware-20260519-r1=y
CONFIG_PACKAGE_apk-openssl-3.0.5-r3=y
CONFIG_PACKAGE_base-files-1927~fd28cb248b=y
CONFIG_PACKAGE_bash-5.3-r3=y
CONFIG_PACKAGE_batctl-full-2026.1-r1=y
CONFIG_PACKAGE_busybox-1.38.0-r2=y
CONFIG_PACKAGE_ca-bundle-20260601-r1=y
CONFIG_PACKAGE_cgi-io-2025.12.11~658b14bd-r1=y
CONFIG_PACKAGE_chinadns-ng-2025.08.09-r1=y
CONFIG_PACKAGE_clientstatus-1.0.8-r1=y
CONFIG_PACKAGE_coreutils-9.11-r1=y
CONFIG_PACKAGE_coreutils-base64-9.11-r1=y
CONFIG_PACKAGE_coreutils-nohup-9.11-r1=y
CONFIG_PACKAGE_curl-8.19.0-r2=y
CONFIG_PACKAGE_ddns-go-6.17.0-r1=y
CONFIG_PACKAGE_ddns-scripts-2.8.3-r7=y
CONFIG_PACKAGE_ddns-scripts-services-2.8.3-r7=y
CONFIG_PACKAGE_default-settings-29=y
CONFIG_PACKAGE_default-settings-chn-29=y
CONFIG_PACKAGE_dns2socks-2.1-r2=y
CONFIG_PACKAGE_dnsmasq-full-2.93-r1=y
CONFIG_PACKAGE_dropbear-2026.91-r1=y
CONFIG_PACKAGE_ethtool-full-7.0-r1=y
CONFIG_PACKAGE_firewall4-2025.03.17~b6e51575-r2=y
CONFIG_PACKAGE_fit-check-sign-2026.04-r1=y
CONFIG_PACKAGE_fitblk-2=y
CONFIG_PACKAGE_fstools-2026.05.23~16718b6e-r1=y
CONFIG_PACKAGE_fwtool-2025.10.03~04cd252e-r1=y
CONFIG_PACKAGE_geoview-0.2.6-r1=y
CONFIG_PACKAGE_getrandom-2025.10.30~6f78fa49-r1=y
CONFIG_PACKAGE_haproxy-3.2.15-r1=y
CONFIG_PACKAGE_hostapd-common-2026.04.02~b004de0b-r1=y
CONFIG_PACKAGE_htop-3.5.1-r1=y
CONFIG_PACKAGE_ip-full-6.18.0-r2=y
CONFIG_PACKAGE_iperf3-3.21-r2=y
CONFIG_PACKAGE_ipt2socks-1.1.4-r2=y
CONFIG_PACKAGE_iw-6.17-r1=y
CONFIG_PACKAGE_jansson4-2.15.0-r1=y
CONFIG_PACKAGE_jshn-2026.05.23~1fe93d2f-r1=y
CONFIG_PACKAGE_jsonfilter-2026.03.16~b9034210-r1=y
CONFIG_PACKAGE_kernel-6.18.35~42a25fe667259a2987b3adb091b90e39-r1=y
CONFIG_PACKAGE_kmod-airoha-eth-6.18.35-r1=y
CONFIG_PACKAGE_kmod-airoha-npu-6.18.35-r1=y
CONFIG_PACKAGE_kmod-batman-adv-6.18.35.2026.1-r3=y
CONFIG_PACKAGE_kmod-cfg80211-6.18.35.6.18.26-r1=y
CONFIG_PACKAGE_kmod-crypto-aead-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-authenc-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-ccm-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-cmac-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-ctr-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-des-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-gcm-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-geniv-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-gf128-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-ghash-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-hash-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-hmac-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-hw-eip93-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-manager-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-md5-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-null-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-rng-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-seqiv-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-sha1-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-sha256-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-sha3-6.18.35-r1=y
CONFIG_PACKAGE_kmod-crypto-sha512-6.18.35-r1=y
CONFIG_PACKAGE_kmod-dsa-mt7530-6.18.35-r1=y
CONFIG_PACKAGE_kmod-dsa-mt7530-mmio-6.18.35-r1=y
CONFIG_PACKAGE_kmod-dummy-6.18.35-r1=y
CONFIG_PACKAGE_kmod-fixed-phy-6.18.35-r1=y
CONFIG_PACKAGE_kmod-gpio-button-hotplug-6.18.35-r5=y
CONFIG_PACKAGE_kmod-hwmon-core-6.18.35-r1=y
CONFIG_PACKAGE_kmod-hwmon-nct7802-6.18.35-r1=y
CONFIG_PACKAGE_kmod-i2c-an7581-6.18.35-r1=y
CONFIG_PACKAGE_kmod-i2c-core-6.18.35-r1=y
CONFIG_PACKAGE_kmod-inet-diag-6.18.35-r1=y
CONFIG_PACKAGE_kmod-leds-gpio-6.18.35-r1=y
CONFIG_PACKAGE_kmod-lib-crc-ccitt-6.18.35-r1=y
CONFIG_PACKAGE_kmod-lib-crc16-6.18.35-r1=y
CONFIG_PACKAGE_kmod-libphy-6.18.35-r1=y
CONFIG_PACKAGE_kmod-mac80211-6.18.35.6.18.26-r1=y
CONFIG_PACKAGE_kmod-macvlan-6.18.35-r1=y
CONFIG_PACKAGE_kmod-mppe-6.18.35-r1=y
CONFIG_PACKAGE_kmod-mt76-connac-6.18.35.2026.03.21~018f6031-r1=y
CONFIG_PACKAGE_kmod-mt76-core-6.18.35.2026.03.21~018f6031-r1=y
CONFIG_PACKAGE_kmod-mt7996-firmware-6.18.35.2026.03.21~018f6031-r1=y
CONFIG_PACKAGE_kmod-mt7996-firmware-common-6.18.35.2026.03.21~018f6031-r1=y
CONFIG_PACKAGE_kmod-mt7996e-6.18.35.2026.03.21~018f6031-r1=y
CONFIG_PACKAGE_kmod-netlink-diag-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nf-conntrack-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nf-flow-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nf-log-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nf-log6-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nf-nat-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nf-reject-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nf-reject6-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nf-socket-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nf-tproxy-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nfnetlink-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nft-core-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nft-fib-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nft-fullcone-6.18.35.2023.05.17~07d93b62-r3=y
CONFIG_PACKAGE_kmod-nft-nat-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nft-offload-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nft-socket-6.18.35-r1=y
CONFIG_PACKAGE_kmod-nft-tproxy-6.18.35-r1=y
CONFIG_PACKAGE_kmod-of-mdio-6.18.35-r1=y
CONFIG_PACKAGE_kmod-phy-realtek-6.18.35-r1=y
CONFIG_PACKAGE_kmod-ppp-6.18.35-r1=y
CONFIG_PACKAGE_kmod-pppoe-6.18.35-r1=y
CONFIG_PACKAGE_kmod-pppox-6.18.35-r1=y
CONFIG_PACKAGE_kmod-regmap-core-6.18.35-r1=y
CONFIG_PACKAGE_kmod-regmap-i2c-6.18.35-r1=y
CONFIG_PACKAGE_kmod-slhc-6.18.35-r1=y
CONFIG_PACKAGE_kmod-tcp-bbr-6.18.35-r1=y
CONFIG_PACKAGE_kmod-tun-6.18.35-r1=y
CONFIG_PACKAGE_libatomic1-14.3.0-r5=y
CONFIG_PACKAGE_libblobmsg-json20260523-2026.05.23~1fe93d2f-r1=y
CONFIG_PACKAGE_libbpf1-1.7.0-r1=y
CONFIG_PACKAGE_libc-1.2.6-r5=y
CONFIG_PACKAGE_libcap-ng-0.8.4-r2=y
CONFIG_PACKAGE_libcurl4-8.19.0-r2=y
CONFIG_PACKAGE_libelf1-0.192-r2=y
CONFIG_PACKAGE_libev-4.33-r3=y
CONFIG_PACKAGE_libgcc1-14.3.0-r5=y
CONFIG_PACKAGE_libgmp10-6.3.0-r2=y
CONFIG_PACKAGE_libiperf3-3.21-r2=y
CONFIG_PACKAGE_libiwinfo-data-2026.05.26~66bdd1a0-r1=y
CONFIG_PACKAGE_libiwinfo20230701-2026.05.26~66bdd1a0-r1=y
CONFIG_PACKAGE_libjson-c5-0.18-r1=y
CONFIG_PACKAGE_libjson-script20260523-2026.05.23~1fe93d2f-r1=y
CONFIG_PACKAGE_libltdl7-2.5.4-r1=y
CONFIG_PACKAGE_liblua5.1.5-5.1.5-r11=y
CONFIG_PACKAGE_liblua5.4-5.4-5.4.7-r1=y
CONFIG_PACKAGE_liblucihttp-lua-2023.03.15~9b5b683f-r1=y
CONFIG_PACKAGE_liblucihttp-ucode-2023.03.15~9b5b683f-r1=y
CONFIG_PACKAGE_liblucihttp0-2023.03.15~9b5b683f-r1=y
CONFIG_PACKAGE_libmbedtls21-3.6.6-r2=y
CONFIG_PACKAGE_libmnl0-1.0.5-r2=y
CONFIG_PACKAGE_libncurses6-6.4-r3=y
CONFIG_PACKAGE_libnetfilter-conntrack3-1.1.0-r1=y
CONFIG_PACKAGE_libnettle8-3.10.2-r1=y
CONFIG_PACKAGE_libnfnetlink0-1.0.2-r1=y
CONFIG_PACKAGE_libnftnl11-1.3.1-r1=y
CONFIG_PACKAGE_libnghttp2-14-1.66.0-r1=y
CONFIG_PACKAGE_libnl-tiny1-2025.12.02~40493a65-r1=y
CONFIG_PACKAGE_libopenssl3-3.5.6-r1=y
CONFIG_PACKAGE_libpcap1-1.10.6-r1=y
CONFIG_PACKAGE_libpcre2-10.47-r1=y
CONFIG_PACKAGE_libpthread-1.2.6-r5=y
CONFIG_PACKAGE_libreadline8-8.3-r1=y
CONFIG_PACKAGE_librt-1.2.6-r5=y
CONFIG_PACKAGE_libruby4.0-4.0.2-r1=y
CONFIG_PACKAGE_libubox20260523-2026.05.23~1fe93d2f-r1=y
CONFIG_PACKAGE_libubus-lua-2026.05.23~795b32bb-r1=y
CONFIG_PACKAGE_libubus20260523-2026.05.23~795b32bb-r1=y
CONFIG_PACKAGE_libuci-lua-2025.12.02~66127cd7-r1=y
CONFIG_PACKAGE_libuci20250120-2025.12.02~66127cd7-r1=y
CONFIG_PACKAGE_libuclient20201210-2026.06.07~daad21fa-r1=y
CONFIG_PACKAGE_libucode20230711-2026.06.03~3ec4e5c2-r1=y
CONFIG_PACKAGE_libudebug-2026.01.16~875e1a7a=y
CONFIG_PACKAGE_libustream-openssl20201210-2026.03.01~99f1c0db-r1=y
CONFIG_PACKAGE_libuuid1-2.42.1-r1=y
CONFIG_PACKAGE_libyaml-0.2.5-r2=y
CONFIG_PACKAGE_logd-2025.10.30~6f78fa49-r1=y
CONFIG_PACKAGE_lua-5.1.5-r11=y
CONFIG_PACKAGE_luci-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-app-adguardhome-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-app-airoha-flowsense-1.1.3-r2=y
CONFIG_PACKAGE_luci-app-airoha-npu-1.0.3-r1=y
CONFIG_PACKAGE_luci-app-clientstatus-1.0.9-r1=y
CONFIG_PACKAGE_luci-app-ddns-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-app-ddns-go-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-app-firewall-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-app-lucky-3.0.3-r15=y
CONFIG_PACKAGE_luci-app-mlo-0=y
CONFIG_PACKAGE_luci-app-openclash-0.47.075=y
CONFIG_PACKAGE_luci-app-package-manager-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-app-passwall-26.6.2-r1=y
CONFIG_PACKAGE_luci-app-smartdns-1.2025.47.2-r1=y
CONFIG_PACKAGE_luci-app-upnp-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-app-w1700k-fancontrol-0=y
CONFIG_PACKAGE_luci-base-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-compat-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-i18n-airoha-npu-zh-cn-0=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-i18n-clientstatus-zh-cn-0=y
CONFIG_PACKAGE_luci-i18n-ddns-go-zh-cn-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-i18n-lucky-zh-cn-0=y
CONFIG_PACKAGE_luci-i18n-mlo-zh-cn-0=y
CONFIG_PACKAGE_luci-i18n-package-manager-zh-cn-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-i18n-passwall-zh-cn-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-i18n-w1700k-fancontrol-zh-cn-0=y
CONFIG_PACKAGE_luci-lib-base-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-lib-ip-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-lib-jsonc-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-lib-nixio-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-lib-uqr-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-light-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-lua-runtime-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-mod-admin-full-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-mod-network-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-mod-status-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-mod-system-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-proto-batman-adv-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-proto-ipv6-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-proto-ppp-26.161.28904~eef854a=y
CONFIG_PACKAGE_luci-theme-argon-2.4.3-r20250722=y
CONFIG_PACKAGE_luci-theme-bootstrap-26.161.28904~eef854a=y
CONFIG_PACKAGE_lucky-2.27.2-r1=y
CONFIG_PACKAGE_lyaml-6.2.7-r2=y
CONFIG_PACKAGE_microsocks-1.0.5-r2=y
CONFIG_PACKAGE_mihomo-1.19.27-r1=y
CONFIG_PACKAGE_miniupnpd-nftables-2.3.9-r3=y
CONFIG_PACKAGE_mtd-27=y
CONFIG_PACKAGE_netifd-2026.04.23~e45b890f-r1=y
CONFIG_PACKAGE_nftables-json-1.1.6-r2=y
CONFIG_PACKAGE_odhcp6c-2026.06.04~daf4ec30-r1=y
CONFIG_PACKAGE_odhcpd-ipv6only-2026.06.14~c6792bac-r1=y
CONFIG_PACKAGE_openwrt-keyring-2025.12.11~14e1f88b-r1=y
CONFIG_PACKAGE_ppp-2.5.3-r1=y
CONFIG_PACKAGE_ppp-mod-pppoe-2.5.3-r1=y
CONFIG_PACKAGE_procd-2026.05.22~74bfbee8-r1=y
CONFIG_PACKAGE_procd-seccomp-2026.05.22~74bfbee8-r1=y
CONFIG_PACKAGE_procd-ujail-2026.05.22~74bfbee8-r1=y
CONFIG_PACKAGE_resolveip-2=y
CONFIG_PACKAGE_rpcd-2026.06.04~28faf640-r1=y
CONFIG_PACKAGE_rpcd-mod-file-2026.06.04~28faf640-r1=y
CONFIG_PACKAGE_rpcd-mod-iwinfo-2026.06.04~28faf640-r1=y
CONFIG_PACKAGE_rpcd-mod-luci-20240305-r1=y
CONFIG_PACKAGE_rpcd-mod-rrdns-20170710=y
CONFIG_PACKAGE_rpcd-mod-ucode-2026.06.04~28faf640-r1=y
CONFIG_PACKAGE_rtl8261n-firmware-20221115=y
CONFIG_PACKAGE_ruby-4.0.2-r1=y
CONFIG_PACKAGE_ruby-bigdecimal-4.0.2-r1=y
CONFIG_PACKAGE_ruby-date-4.0.2-r1=y
CONFIG_PACKAGE_ruby-digest-4.0.2-r1=y
CONFIG_PACKAGE_ruby-enc-4.0.2-r1=y
CONFIG_PACKAGE_ruby-pstore-4.0.2-r1=y
CONFIG_PACKAGE_ruby-psych-4.0.2-r1=y
CONFIG_PACKAGE_ruby-stringio-4.0.2-r1=y
CONFIG_PACKAGE_ruby-yaml-4.0.2-r1=y
CONFIG_PACKAGE_shadowsocks-rust-sslocal-1.24.0-r1=y
CONFIG_PACKAGE_shadowsocks-rust-ssserver-1.24.0-r1=y
CONFIG_PACKAGE_shellsync-0.2-r2=y
CONFIG_PACKAGE_simple-obfs-client-0.0.5-r2=y
CONFIG_PACKAGE_sing-box-1.12.25-r1=y
CONFIG_PACKAGE_smartdns-48-r1=y
CONFIG_PACKAGE_smartdns-ui-48-r1=y
CONFIG_PACKAGE_tcpdump-4.99.6-r1=y
CONFIG_PACKAGE_tcping-2020.07.04~db910183-r1=y
CONFIG_PACKAGE_terminfo-6.4-r3=y
CONFIG_PACKAGE_ubi-utils-2.3.1-r1=y
CONFIG_PACKAGE_uboot-envtools-2026.04-r1=y
CONFIG_PACKAGE_ubox-2025.10.30~6f78fa49-r1=y
CONFIG_PACKAGE_ubus-2026.05.23~795b32bb-r1=y
CONFIG_PACKAGE_ubusd-2026.05.23~795b32bb-r1=y
CONFIG_PACKAGE_uci-2025.12.02~66127cd7-r1=y
CONFIG_PACKAGE_uclient-fetch-2026.06.07~daad21fa-r1=y
CONFIG_PACKAGE_ucode-2026.06.03~3ec4e5c2-r1=y
CONFIG_PACKAGE_ucode-mod-digest-2026.06.03~3ec4e5c2-r1=y
CONFIG_PACKAGE_ucode-mod-fs-2026.06.03~3ec4e5c2-r1=y
CONFIG_PACKAGE_ucode-mod-html-1=y
CONFIG_PACKAGE_ucode-mod-log-2026.06.03~3ec4e5c2-r1=y
CONFIG_PACKAGE_ucode-mod-lua-1=y
CONFIG_PACKAGE_ucode-mod-math-2026.06.03~3ec4e5c2-r1=y
CONFIG_PACKAGE_ucode-mod-nl80211-2026.06.03~3ec4e5c2-r1=y
CONFIG_PACKAGE_ucode-mod-rtnl-2026.06.03~3ec4e5c2-r1=y
CONFIG_PACKAGE_ucode-mod-ubus-2026.06.03~3ec4e5c2-r1=y
CONFIG_PACKAGE_ucode-mod-uci-2026.06.03~3ec4e5c2-r1=y
CONFIG_PACKAGE_ucode-mod-uloop-2026.06.03~3ec4e5c2-r1=y
CONFIG_PACKAGE_uhttpd-2026.05.21~1b624f8f-r1=y
CONFIG_PACKAGE_uhttpd-mod-ubus-2026.05.21~1b624f8f-r1=y
CONFIG_PACKAGE_unzip-6.0-r9=y
CONFIG_PACKAGE_urandom-seed-3=y
CONFIG_PACKAGE_urngd-2025.10.03~f17e33d9-r1=y
CONFIG_PACKAGE_usign-2025.10.03~c4c72b1b-r1=y
CONFIG_PACKAGE_v2ray-plugin-5.49.0-r1=y
CONFIG_PACKAGE_wifi-scripts-1.0-r1=y
CONFIG_PACKAGE_wireless-regdb-2026.05.30-r1=y
CONFIG_PACKAGE_wpad-mesh-mbedtls-2026.04.02~b004de0b-r1=y
CONFIG_PACKAGE_xray-core-26.3.27-r1=y
CONFIG_PACKAGE_zlib-1.3.2-r1=y
